<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <title>about_me</title>
</head>
<body>

{% include 'blog/navbar.html' %}   

<div class='container'>
       <br>
       <br>
   <div class='row'>  

    <div class='col'>   
      <div class="card my-4" style="width: 18rem;">
        <img src="../static/images/apple_fuji/fuji-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">fuji </h5>
          <p class="card-text">fuji 50,000원</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class='col'>  
      <div class="card my-4" style="width: 18rem;">
        <img src="../static/images/apple_fuji/fuji-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">fuji-2 </h5>
          <p class="card-text">fuji-2 55,000원</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class='col'>  
      <div class="card my-4" style="width: 18rem;">
        <img src="../static/images/apple_fuji/fuji-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">fuji-3 </h5>
          <p class="card-text">fuji-3 60,000원</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    </div>

    <div class='col'>  
      <div class="card my-4" style="width: 18rem;">
        <img src="../static/images/apple_fuji/fuji-5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">fuji-4 </h5>
          <p class="card-text">fuji-4 65,s000원</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>   
    </div>

    <div class="card my-4">
      <h1> about-me.html </h1>
      <h2>record</h2>
      <h2>port folio </h2>
      <h3>  still working </h3>
    </div>

{% include 'blog/footer.html' %}   
</body>
</html>