<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"  crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://kit.fontawesome.com/5df8273926.js" crossorigin="anonymous"></script>
    <title>landing </title>
</head>
<body>
{% include 'blog/navbar.html' %} 
  <br>
  <br>
  <div class='container'>
    
    <div class="card" style="width: 18rem;">
      <img src="../static/images/apple_fuji/fuji-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">fuji </h5>
        <p class="card-text">fuji 50000원</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <h1> landing.html </h1>
    <h2> front page</h2>
    <h3> not yet complete </h3>
  </div> 

{% include 'blog/footer.html' %}
</body>
</html>